body.site {
    padding: 0px 0 10px;
    background-color: #fff;
}
.top-home {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background: #1b75a5 url(/img/headers/oq-header.png) 0 0 no-repeat;
    z-index: 9999;
    height: 40px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}
.top-home a {
    color: #fff;
}
.right-bar {
    float: right;
    width: 68px;
    height: 40px;
    position: absolute;
    right: 4px;
    top: 0px;
}
.oq-gem {
    max-width: none;
}
#share, #calculate, #explore {
    margin: 9px 0px 0 32px;
    display: block;
    position: relative;
    height: 33px;
    width: 80px;
    text-align: center;
    font-size: 18px;
    float: left;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    text-decoration: none;
}
#calculate {
    border-bottom: solid #ffdc00 5px;
}
#share {
    border-bottom: solid #eb737d 5px;
}
#explore {
    border-bottom: solid #dc6522 5px;
}
#calculate:hover,
#share:hover,
#explore:hover {
    font-weight: 700;
    color: #fff!important;
}
.aref-logo {
    font-size: 22px;
    font-weight: 700;
    float: left;
    margin-top: 9px;
    margin-right: 9px;
}
.aref-logo img {
    margin-top: -13px;
}
footer.footer {
    color: #fff;
    background: #1b75a5 url(/static/geonode/img/oq-header.png) no-repeat left top;
    width: 940px;
    font-weight: 400;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.site-grid {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
.oq-header-description {
    color: #554741;
    padding: 60px 10px 0;
    font-weight: 700;
    width: 940px;
    font-size: 15px;
    margin: auto;	
}	
.container-header .grid-child {
    display: none;
}
.oq-header-description h1 {
    color: #1b75a7;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 25px;
}	
.oq-header-description p {
    font-weight: 300;
    margin-bottom: 3px;
}
a:not([class]) {
    text-decoration: none!important;
}
a:hover, a:focus {
    color: #0088CC!important;
    text-decoration: none;
}
.term-let {
    /*position: absolute;*/
    top: 330px;
    text-align: center;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
    padding: 10px;
    width: auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    height: 50px;
}
.div-let-cat {
    text-align: center;
    float: left;
    margin: 0 1px;
    border: 1px solid #ccc;
    padding: 3px 5px 0;	
}
.com-finder h1 {
    display: none!important;
}	
a.let-cat:hover {
    color: #fff;
}
.div-let-cat:hover {
    background: #005580;
    color: #fff;
}
.col-md-4 {
    width: 100%!important;
}
.h2, h2 {
    font-size: 16px!important;
}
a.tit-term {
    line-height: 24px;
    text-decoration: none;
    font-weight: 300;
}
.page-header h1 {
    color: #005580;
    padding: 14px 0;
    font-size: 18px;
}
dl.article-info.text-muted {
    display: none;
}
.icon-arrow-top-title:before {
    content: "\e007";
    font-size: 20px;
}
button.btn.btn-primary {
    background: #005580;
    color: #fff;
    text-shadow: none;
    padding: 8px 8px 4px;
    border-radius: 6px!important;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #fff;
    background-color: #f05a24!important;
    font-weight: 700;
}    
.link-gem {
    width: auto;
    height: 300px;
    background: transparent url(/img/headers/OQ-logo-grey.png) top center no-repeat;
    display: block;
    margin: 0px 0 0 12px;
}
.pagenavigation,
.result__title-url,
.result__taxonomy {
    display: none;	
}	
.div-butn {
    float: right;
    width: auto;
    border: 1px solid #fff;
    height: 28px;
    position: relative;
    margin-top: -54px;
}
.butn {
    font-size: 20px;
    margin: 0 8px;
    width: 160px;
    background: #f7931e;
    padding: 7px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.butn:hover, .butn:focus {
    background: #f05a24;
    color: #fff!important;
}
div#search-results,
.grid-child.container-component {
    margin-bottom: 1rem;
}
main {
    margin-top: 0!important;
}
nav.main-nav {
    margin: 0;
    overflow: hidden
}
nav.main-nav ul li {
    height: 35px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    width: 80px;
    text-align: center;
}
nav.main-nav ul li a {
    color: #fff;
    text-transform: none;
    min-width: 80px;
    text-align: center;
    padding: 4px 0;
    font-size: 18px;
}

nav.main-nav ul {
    margin-left: 0;
}
nav.main-nav ul li.engine{
   border-bottom: solid #fff 5px;
}
nav.main-nav ul li.ipt{
   border-bottom: solid #ffdc00 5px;
}
nav.main-nav ul li.txtweb{
   border-bottom: solid #eb737d 5px;
}
nav.main-nav ul li.taxonomy{
   border-bottom: solid #dc6522 5px;
}
nav.main-nav ul li:hover{
   border-bottom: solid #fff 5px;
   color: #fff !important;
}
nav.main-nav ul li a:hover{
   font-weight: normal;
   color: #fff !important;
}

.awesomplete>input {
    max-width: none;
    height: 40px;
}
/* custom cookie law */
#redim-cookiehint .cookiehead .headline {
  padding: 3px 0px 3px 0px!important;
}
#redim-cookiehint .cookiehead .headline::before {
    background-image: none!important;
}
.footer a:focus, 
.footer a:hover {
    color: #fff!important;
    text-decoration: underline!important;
}
p.second_name a,
p.for_name a {
    color: #1b75a7;
}
